@use "../../app/custom-css/1-helpers/variables" as var;
@use "../../app/custom-css/1-helpers/mixins" as mix;

.sawt-feed {
background-color: var.$primary;
}

.sawt-card {
    background-color: var.$altPrimary;
}

.card {
    h6,span {
        color: black;
        font-size: medium;
        padding: 5px 0;
    }
}