@use "../../app/custom-css/1-helpers/variables" as var;
@use "../../app/custom-css/1-helpers/mixins" as mix;

.homebanner {
  background-color: var.$primary;
  padding-top: 1rem;
  h1,
  p {
    color: var.$altPrimary;
  }
  h2 {
    font-size: 2rem;
    font-weight: 800;
    @media (min-width: var.$tablet) {
      font-size: 3rem;
    }
  }
  span {
    color: var.$altSecondary;
  }
  button {
    background-color: var.$secondary;
    color: var.$altPrimary;
    border-radius: 5rem;
    margin: 0 auto;
  }
}

.query {
  form {
    svg {
      padding-bottom: 2px;
    }
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  input {
    border-radius: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.x-icon {
  padding: 0 1rem;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var.$secondary;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
