@use "../../app/custom-css/1-helpers/variables" as var;

.alert-sign-up {
  background-color: #f7f7f7;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  width: 80%;
  max-width: 400px;
  margin: 3rem auto 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  label,
  legend {
    color: #333;
    margin-bottom: 1rem;
    font-weight: bold;
    display: block;
  }

  input[type='email'] {
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 2rem);
    font-size: 16px;
  }

  .topic-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    & > label {
      padding: 0.4rem 0.8rem;
      background-color: transparent;
      border-radius: 5rem;
      cursor: pointer;
      margin-right: 0.5rem;

      &:hover {
        background-color: #6b93c3;
        color: #fff;
      }
    }

    input[type='checkbox'] {
      display: none;

      &:checked + label {
        background-color: #6b93c3;
        color: #fff;
      }
    }
  }

  .submit-button,
  .cancel-button {
    background-color: #6b93c3;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    width: calc(50% - 0.8rem);
    margin-top: 1rem;
    margin-right: 0.8rem;
    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #5582b3;
    }
  }

  .success-message {
    color: #3c763d;
    font-size: 0.9rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #dff0d8;
    padding: 0.8rem;
    border-radius: 0.5rem;
  }
}

@media (max-width: var.$tablet) {
  .alert-sign-up {
    width: 80%;
    margin-top: 3rem;

    .submit-button,
    .cancel-button {
      width: calc(50% - 0.8rem);
    }
  }
}