@use "../app/custom-css/1-helpers/variables" as var;
@use "../app/custom-css/1-helpers/mixins" as mix;

.nav-header {
  background-color: #1c1919;
  color: var.$altPrimary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000; /* Adjust the z-index as needed */
  header {
    height: 7rem;
  }

  a {
    color: var.$altPrimary;
    &:hover {
      /* Use "&" to denote the parent selector */
      color: var.$secondary;
    }
  }
  img {
    width: 8rem;
  }
  svg {
    width: 2rem;
  }
}
.content {
  padding-top: 10rem; /* Adjust the value to match the height of your fixed header */
}
