@use "../../app/custom-css/1-helpers/variables" as var;
@use "../../app/custom-css/1-helpers/mixins" as mix;

.icons {
    svg,span {
        color: var.$primary;
        :hover{
                 color: var.$secondary;
        }
    }

}