@use "../../app/custom-css/1-helpers/variables" as var;
@use "../../app/custom-css/1-helpers/mixins" as mix;

.step-content{
background-color: var.$primary;
h2 {
    color:var.$secondary
}
p,li{
    color: var.$altPrimary
}
}