@use "../../app/custom-css/1-helpers/variables" as var;
@use "../../app/custom-css/1-helpers/mixins" as mix;


.nav {
   nav {
    height: 8rem;
   }
   svg {
    color:var.$altPrimary;
   }
}

.search-bar{
    padding: .625rem;
    border-radius: 3rem;
}